$primary-color: #ada11e;
$subtle-white: #f1ebeb;
$subtle-pink: #ffcbe1;
$subtle-green: #d6e5bd;
$subtle-orange: #f9e1a8;
$subtle-purple: #bcd8ec;
$subtle-pink: #dcccec;
$subtle-peach: #ffdab4;
$subtle-silver: #c3dedd;
$subtle-mandarin: #f0e2c3;
$subtle-cyan: #dcece9;
$subtle-aubergine: #b2b2c0;
$subtle-sanguine: #f6c7b3;
$subtle-yellow: #faedcb;
$subtle-burgundy: #f2c6de;
$subtle-azur: #dbcdf0;
